<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mac.explorations.framework.springboot.web.repository.mybatis.xml.EmployeeMapper">

    <resultMap id="employeeMap" type="org.mac.explorations.framework.springboot.web.repository.entity.Employee">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <association property="department" javaType="org.mac.explorations.framework.springboot.web.repository.entity.Department">
            <id column="department_id" property="id"/>
            <result column="department_name" property="name"/>
        </association>
    </resultMap>

    <select id="getEmployeeById" resultMap="employeeMap">
        SELECT
            emp.id,
            emp.NAME,
            emp.gender,
            emp.email,
            dept.id AS department_id,
            dept.NAME AS department_name
        FROM
            employee emp
            LEFT JOIN department dept ON emp.department_id = dept.id
        WHERE emp.id=#{id}
    </select>

    <select id="getAll" resultMap="employeeMap">
        SELECT
            emp.id,
            emp.NAME,
            emp.gender,
            emp.email,
            dept.id AS department_id,
            dept.NAME AS department_name
        FROM
            employee emp
                LEFT JOIN department dept ON emp.department_id = dept.id
        ORDER BY emp.id
    </select>

    <insert id="insert">
        INSERT INTO employee(name,email,gender,department_id) VALUES (#{name},#{email},#{gender},#{department.id})
    </insert>

    <update id="update" >
        UPDATE employee
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="gender!=null">
                gender=#{gender},
            </if>
            <if test="department.id!=null">
                department_id = #{department.id}
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteEmployeeById">
        DELETE
        FROM
            employee
        WHERE
            id = #{id}
    </delete>
</mapper>