<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>404</title>
	<link th:replace="fragments/styles"/>
	<link href="css/404.css" th:href="@{/error/css/404.css}" rel="stylesheet" type="text/css" />
	<!-- Custom styles for this template -->
	<link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
	<style type="text/css">
		/* Chart.js */

		@-webkit-keyframes chartjs-render-animation {
			from {
				opacity: 0.99
			}
			to {
				opacity: 1
			}
		}

		@keyframes chartjs-render-animation {
			from {
				opacity: 0.99
			}
			to {
				opacity: 1
			}
		}

		.chartjs-render-monitor {
			-webkit-animation: chartjs-render-animation 0.001s;
			animation: chartjs-render-animation 0.001s;
		}
	</style>
</head>

<body>
<!--引入抽取的top bar-->
<!--模板名：会使用thymeleaf的前后缀配置规则进行解析-->
<div th:replace="fragments/top::top"></div>

<div class="container-fluid">
	<div class="row">
		<!--引入侧边栏-->
		<div th:replace="fragments/sidebar::#sidebar(activeUri='employees')"></div>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="main-box">
				<img src="/error/images/cloud_0.png" alt="" class="cloud-0" />
				<img src="/error/images/cloud_1.png" alt="" class="cloud-1" />
				<img src="/error/images/cloud_2.png" alt="" class="cloud-2" />
				<img src="/error/images/bird.png" alt="" class="bird" />
				<img src="/error/images/parachute.png" alt="" class="parachute" />
				<div class="tip-info">
					<div class="in">
						<h2>
							<div>出错啦[[${status}]]！</div>
							<div>[[${ext?.code}]]</div>
							<div>[[${message}]]</div>
						</h2>
						<p><span>页面自动<a id="href" href="/main.html">跳转</a></span><span>等待<b id="wait">5</b>秒</span></p>
						<script type="text/javascript">
							(function() {
								var wait = document.getElementById('wait'), href = document.getElementById('href').href;
								var interval = setInterval(function() {
									var time = --wait.innerHTML;
									if (time <= 0) {
										clearInterval(interval);
										location.href = href;
										//alert("开始跳转提示");
									};
								}, 1000);
							})();
						</script>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<script th:replace="fragments/scripts"/>
<script type="text/javascript">
	$(function() {
		var h = $(window).height();
		$('body').height(h);
		$('.main-box').height(h);
		centerWindow(".tip-info");
	});

	//2.将盒子方法放入这个方，方便法统一调用
	function centerWindow(a) {
		center(a);
		//自适应窗口
		$(window).bind('scroll resize',
				function() {
					center(a);
				});
	}

	//1.居中方法，传入需要居中的标签
	function center(a) {
		var wWidth = $(window).width();
		var wHeight = $(window).height();
		var boxWidth = $(a).width();
		var boxHeight = $(a).height();
		var scrollTop = $(window).scrollTop();
		var scrollLeft = $(window).scrollLeft();
		var top = scrollTop + (wHeight - boxHeight) / 2;
		var left = scrollLeft + (wWidth - boxWidth) / 2;
		$(a).css({
			"top": top,
			"left": left
		});
	}
</script>
</body>
